$btn-close-color: black;

.customAlert {
    margin: 0;
    padding: 10px;
    border: none;

    &__warning {
        background-color: rgba(207, 44, 0, 0.1);;
        color: red;
        border-radius: 10px;
        border: none;
        padding: 15px;
        position: relative;
    }

    &__message {
        margin-left: 39px;
        display: inline-block;
    }

    &__close-btn {
        background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$btn-close-color}'><path d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/></svg>");;
        border: none;
        padding: 10px;
        margin: 10px;
        opacity: 0.5;
        position: absolute;
        top: 0;
        right: 0;

        &:hover {
            opacity: 0.7;
        }

        &:focus {
            opacity: 1;
        }
    }
}