$white-color: #FFFFFF;
$black-opacity-01: rgba(0, 0, 0, 0.1);

.login-page {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__logo {
        margin-bottom: 20px;
    }

    &__customForm {
        width: 520px;
        min-height: 425px;
        left: calc(50% - 520px / 2);
        top: 222px;
        background: $white-color;
        box-shadow: 0px 4px 10px $black-opacity-01;
        border-radius: 5px;
        padding: 40px 30px;

        .login-page__title {
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 20px;
        }
    }
}