$white-color: #FFFFFF;
$custom-blue: #0055FB;
$light-gray: #F6F6F6;
$black-opacity-02: rgba(0, 0, 0, 0.2);
$black-opacity-04: rgba(0, 0, 0, 0.4);

.console-header {
    background-color: $light-gray;
    height: 55px;

    &__title {
        font-size: 20px;
        line-height: 30px;
    }

    &__loginBlock {
        border: 1px solid $black-opacity-02;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 5px 15px;
        width: fit-content;
        background: $white-color;

        &:hover {
            border: 1px solid $black-opacity-04;
        }

        &:focus {
            border: 1px solid $black-opacity-04;
            box-shadow: 0px 0px 0px 2px $black-opacity-02;
        }

        @media screen and (max-width: 992px) {
            margin-top: 10px;
        }
    }

    &__logoutButton {
        border: none;
        margin: 0px 50px;
        padding: 5px 15px;
        background-color: transparent;

        @media screen and (max-width: 992px) {
            margin: 0px;
            margin-top: 10px;
            padding: 5px 15px 5px 0px;
        }
    }

    &__screenSize {
        display: flex;
        align-items: center;
        padding: 5px;
        border: 2px solid rgba(69, 165, 255, 0);
        border-radius: 7px;
        background-color: transparent;
        
        @media screen and (max-width: 992px) {
            margin-top: 10px;
        }

        &:hover * {
            stroke: $custom-blue;
        }

        &:focus {
            border: 2px solid rgba(69, 165, 255, 0.5);

            * {
                stroke: $custom-blue;
            }
        }
    }
}